{% extends 'auctions/layout.html' %}
{% block title %}
    {{ category }}
{% endblock %}
{% block body %}
    <h2 class="heading">{{ category }}</h2>
    <ul class="auction-list">
        {% for listing in listings %}
            {% if listing.category == category %}
                <li class="auction-item">
                    <a href="{% url 'listing' listing.id %}">
                        <h3 class="auction-item-title">{{ listing.title.capitalize }}</h3>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
