{% extends 'auctions/layout.html' %}
{% block title %}
    Watchlist
{% endblock %}
{% block body %}
    <h2 class="heading">Watchlist</h2>
    {% if listings %}
        <ul class="auction-list">
            {% for listing in listings %}
                <li class="auction-item">
                    <a href="{% url 'listing' listing.id %}">
                        <h2 class="auction-item-title">{{ listing.title.capitalize }}</h2>
                    </a>
                    <ul class="auction-item-info">
                        <li class="auction-item-description">{{ listing.description.capitalize }}</li>
                        <li class="auction-item-bid">$ {{ listing.bid }}</li>
                        <li class="auction-item-category">Category: {{ listing.category }}</li>
                        {% if listing.image %}
                            <img class="auction-item-image" src="{{ listing.image }}" alt="Listing Image">
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no items in your watchlist.</p>
    {% endif %}
{% endblock %}
